.input-group {
    display: grid;
    grid-template-columns: auto 50px;
    align-items: center;
    clear: left;
    width: 60%;
}

.input-group .glyphicon {
    box-sizing: border-box;
    padding: 8px 12px;
    height: 100%;
    width: 100%;
    top: 0;
}

h4 + button {
    clear: both;
}